.select__category-circle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid transparent;
  opacity: .9;
  margin-right: 18px;


}

//
// F7C2C6
// FFF873
// FFD7A7
// C1AFDA
//94E490
