@import './src/assets/scss/utils/vars';

.user__settings {
  background-color: #FAF9F8;
  width: 100%;
  border-color: #EDEBE9;
  border-top-color: rgb(237, 235, 233);
  border-right-color: rgb(237, 235, 233);
  border-bottom-color: rgb(237, 235, 233);
  border-left-color: rgb(237, 235, 233);
  border-style: solid;
  overflow: hidden;
  border-right: 0;
}

.user__settings-wrapper {
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.user__settings-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;

  & h3 {
    color: $black-color;
    font-weight: 700;
    font-size: 18px;

  }

  & svg {
    height: 24px;
    width: 24px;
    color: $gray-color;
  }

  & div {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #E1DFDD;
      transition: background-color linear .1s;
    }
  }
}





















