@import './src/assets/scss/utils/vars';

.content__header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.content__left-menu {
  display: flex;
  align-items: center;

  & .content__left-my-day {
    font-size: 18px;
    margin: 0 16px 0 10px;
    font-family: cursive;
  }

  & .content__left-dots {
    font-size: 20px;
    letter-spacing: 2px;
    color: $gray-color;
    margin-bottom: auto;
  }
}

.content__right-menu {
  display: flex;
  align-items: center;
}

.content__left-current-date {
  margin-left: 50px;
  font-size: 12px;
  color: $gray-color;
}

.content__left-current-date-subline {
  margin-left: 25px;
  font-size: 12px;
  color: $gray-color;
}