@import './src/assets/scss/utils/vars';

.header__global_search, .header__global_search-active {
  display: flex;
  position: relative;

  &-active {
    display: flex;
    position: relative;
  }
}

.header__global_search input, .header__global_search-active input {
  width: 380px;
  height: 29px;
  opacity: .7;
  border-radius: 0 3px 3px 0;
  outline: none;
  border: none;

  &:hover {
    opacity: .9;
    cursor: pointer;
    transition: opacity linear .1s;
  }
}

.header__global_search input:focus, .header__global_search-active input:focus {
  opacity: 1;
}

.reset__icon_wrapper {
  width: 20px;
  height: 29px;
  opacity: .7;
  display: flex;
  align-items: center;
  border-radius: 3px 0 0 3px;
  background-color: $white-color;
  cursor: pointer;

  &-active {
    display: flex;
    align-items: center;
    border-radius: 3px 0 0 3px;
    background-color: $white-color;
    opacity: 1;
    left: 0;
    transition: 1s;
  }
}

.header__reset_icon {
  //width: 20px;
  //height: 20px;
  //color: $header-color;

  width: 20px;
  height: 29px;
  opacity: .7;
  display: flex;
  align-items: center;
  border-radius: 3px 0 0 3px;
  background-color: #ffffff;
  color: $header-color;
  cursor: pointer;
}

.header__search_icon {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 10;
  width: 24px;
  height: 24px;
  color: $header-color;
  cursor: pointer;
}

@media (max-width: 480px) {
  .header__global_search input {
    width: 100%;
  }

  .header__global_search-active input {
    width: 130px;

    &.reset__icon_wrapper-active {
      display: none;
    }
  }

  .header__global_search {
    width: 35px;
  }

  .reset__icon_wrapper, .reset__icon_wrapper-active {
    display: none;
  }
}