.auth__page {
  height: 100vh;
  width: 100%;
  background-image: url(https://aadcdn.msauth.net/shared/1.0/content/images/backgrounds/2_bc3d32a696895f78c19df6c717586a5d.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

