.cls-101 {
  fill: none;
}

.cls-202 {
  fill: #ca64ea;
}

.cls-303 {
  opacity: 0.75;
}

.cls-404 {
  fill: #7719aa;
}

.cls-505 {
  fill: #fff;
}

.cls-606 {
  fill: #ae4bd5;
}

.cls-707 {
  fill: #9332bf;
}