@import './src/assets/scss/utils/vars';

.nav__link {
  height: 48px;
  width: 50px;
  margin-left: 35px;
  color: $white-color;
  align-items: center;
  justify-content: center;
  display: flex;

  &-active {
    background-color: #F3F2F1;

    & svg {
      color: $gray-color;
    }

    & .profile__initials {
      color: $gray-color;
      border: 0.09em solid $gray-color;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: #005A9E;
    -webkit-transition: background-color .1s linear;
    -ms-transition: background-color .1s linear;
    transition: background-color .1s linear;
  }

  &:first-child {
    margin: 0;
  }

  & svg {
    width: 20px;
    height: 20px;
  }
}


@media (max-width: 480px) {
  .nav__link {
    width: 38px;
  }
}