.cls-1111111 {
  fill: none;
}

.cls-2222222 {
  fill: #ed6c47;
}

.cls-3333333 {
  fill: #ff8f6b;
}

.cls-4444444 {
  fill: #d35230;
}

.cls-5555555 {
  opacity: 0.5;
}

.cls-6666666 {
  opacity: 0.1;
}

.cls-7777777 {
  fill: #c43e1c;
}

.cls-8888888 {
  fill: #fff;
}