.cls-11111 {
  fill: #21a366;
}

.cls-22222 {
  fill: none;
}

.cls-33333 {
  fill: #107c41;
}

.cls-44444 {
  fill: #33c481;
}

.cls-55555 {
  fill: #185c37;
}

.cls-66666 {
  opacity: 0.5;
}

.cls-77777 {
  fill: #fff;
}