@import './src/assets/scss/utils/vars';

.side__bar-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px 0 5px;
  min-height: 36px;

  &:hover {
    background-color: #FAFAFA;
    cursor: pointer;
    transition: background-color .06s linear;
  }

  & p {
    color: $black-color;
  }
}

.side__bar-inner {
  display: flex;
  align-items: center;

  & span {
    margin-right: 8px;

    & svg {
      height: 20px;
      width: 24px;
      color: $gray-color;
    }
  }

  & p {
    font-size: 14px;
    color: $black-color;
  }
}

.side__bar-item-link {
  color: #F3F2F1;

  &:last-child {
    margin-bottom: 15px;
  }
}

.side__bar-item-link-active {
  & .side__bar-item {
    background-color: #eaeaea;
  }
}