@import './src/assets/scss/utils/vars';

.side__bar-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px 0 5px;
  min-height: 36px;

  &:hover {
    background-color: #FAFAFA;
    cursor: pointer;
    transition: background-color .06s linear;
  }

  & p {
    color: $black-color;
  }
}

.side__bar-inner {
  display: flex;
  align-items: center;

  & span {
    margin-right: 8px;

    & svg {
      height: 20px;
      width: 24px;
      color: $gray-color;
    }
  }

  & p {
    font-size: 14px;
    color: $black-color;
  }
}

.side__bar-item-link {
  color: #F3F2F1;

  &:last-child {
    margin-bottom: 15px;
  }
}

.side__bar-item-link-active {
  & .side__bar-item {
    background-color: #eaeaea;
  }
}

.side__bar-context-menu {
  width: 220px;
  position: absolute;
  z-index: 1000000;
  padding: 5px 0px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, .13) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, .11) 0px 0.6px 1.8px 0px;

  & li {
    margin-left: 10px;
    color: #323130;
  }

  & svg {
    color: #797775;
  }

  & .custom__context-item-wrapper {
    &:nth-child(5) {
      & .custom__context-item {
        & .context-item-wrapper {
          & li, svg {
            color: #a80000;
          }
        }
      }
    }
  }


}

