.cls-1 {
  fill: none;
}

.cls-2 {
  fill: #0364b8;
}

.cls-3, .cls-8 {
  fill: #0a2767;
}

.cls-4 {
  fill: #28a8ea;
}

.cls-5 {
  fill: #35b8f1;
}

.cls-6 {
  fill: #50d9ff;
}

.cls-7 {
  fill: #0078d4;
}

.cls-11, .cls-8 {
  opacity: 0.5;
}

.cls-9 {
  fill: #1490df;
}

.cls-10 {
  opacity: 0.1;
}

.cls-12 {
  fill: #fff;
}