$white-color: #ffffff;
$black-color: #323130;
$gray-color: #797775;
$header-color: #0078D7;
$side-bar-bgc: #EDEDED;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

