@import './src/assets/scss/utils/vars';


.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
}

.defaultContextmenuArea {
  grid-row: 1;
  grid-column: 1;
  background-color: aqua;
}

.customContextmenuArea1 {
  grid-row: 1;
  grid-column: 2;
  background-color: sandybrown;
}

.customContextmenuArea2 {
  grid-row: 2;
  grid-column: 1;
  background-color: tomato;
}

.customContextmenuArea3 {
  grid-row: 2;
  grid-column: 2;
  background-color: powderblue;
}

.contextMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: auto;
  width: fit-content;
  cursor: context-menu;
}

.optionsList {
  padding: 5px 0px;
  border-radius: 4px;
}

.optionListItem {
  padding: 4px;
  list-style-type: none;
  color: #323130;
  font-size: 14px;
}

.customContextmenuArea1ListWrapper {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, .13) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, .11) 0px 0.6px 1.8px 0px;
}

.customContextmenuArea1ListItem {
  list-style-type: none;
}