@import './src/assets/scss/utils/vars';

.side__bar-wrapper-fullscreen {
  display: flex;
  width: 25%;
}

.side__bar-full-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: #ADADAD;
  opacity: .6;
  display: none;
}

.side__bar {
  background: #F3F2F1;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #edebe9;
  position: relative;
  z-index: 100;
  height: 100%;

  & button {
    margin: 24px 0 0 9px;
  }

}

.side__bar-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: 65%;
}

.side__bar-wrapper::-webkit-scrollbar {
  width: 7px;
}

.side__bar-wrapper::-webkit-scrollbar-thumb {
  background-color: #A19F9D;
  border-radius: 20px;
}

@media (max-width: 1200px) {
  .side__bar-wrapper-fullscreen {
    width: 35%;
  }
}

@media (max-width: 991px) {
  .side__bar-wrapper-fullscreen {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .side__bar-wrapper-fullscreen {
    width: 100%;
  }

  .side__bar {
    position: absolute;
    left: 0;
    height: 95%;
    width: 35%;
    top: 50px;
  }

  .side__bar-full-background {
    display: block;
    height: 95%;
  }
}

@media (max-width: 480px) {
  .side__bar {
    width: 75%;
  }
}

