.cls-1111 {
  fill: none;
}

.cls-2222 {
  fill: #41a5ee;
}

.cls-3333 {
  fill: #2b7cd3;
}

.cls-4444 {
  fill: #185abd;
}

.cls-5555 {
  fill: #103f91;
}

.cls-6666 {
  opacity: 0.5;
}

.cls-7777 {
  fill: #fff;
}