.main__content-wrapper {
  flex-direction: column;
  display: flex;
  height: 100vh;
  padding-top: 50px;
}

.content__wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.content__wrapper-content-sidebar {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}