.main__content-wrapper {
  flex-direction: column;
  display: flex;
  height: 100vh;
  padding-top: 50px;
}

.content__wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.content__wrapper-content-sidebar {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}

.main__content-wrapper-menus {
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 25%;

}
.main__content-wrapper-menus::-webkit-scrollbar {
  background-color: rgba(234, 233, 233, 0.7);
  width: 7px;
}

.main__content-wrapper-menus::-webkit-scrollbar-thumb {
  background-color: #b0afac;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .content__wrapper {
    display: block;
  }

  .main__content-wrapper-menus {
    width: 40%;
  }

  .news__panel-footer {
    display: none;
  }
}

@media (max-width: 480px) {
  .main__content-wrapper-menus {
    width: 75%;
  }
}